<%= link_to 'New Item', new_admin_item_path, class: 'button info pull-right new-item' %>

<h2><%= current_resource %></h2>

<div id="filtering">
  <%= admin_form :method => :get do %>
    Name: <%= admin_text_filter :having_name %>

    <button>Filter!</button>
  <% end %>
</div>

<table class="admin-table">
  <thead>
    <tr>
      <th class="sorting">
        <%= admin_link(:by_id, "id") %>
      </th>
      <th class="sorting">
        <%= admin_link(:by_name, "name") %>
      </th>
      <th class="sorting">
        <%= admin_link(:by_order_name, "Order name") %>
      </th>
      <th class="sorting">
        <%= admin_link(:by_created_at, "created_at") %>
      </th>
      <th class="sorting">
        <%= admin_link(:by_updated_at, "updated_at") %>
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |obj| %>
      <tr>
        <td>
          <%= obj.id %>
        </td>
        <td>
          <%= obj.name %>
        </td>
        <td>
          <%= link_to(obj.order.try(:name), admin_orders_path, class: 'button info controll') if obj.order %>
        </td>
        <td>
          <%= obj.created_at %>
        </td>
        <td>
          <%= obj.updated_at %>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_item_path(obj), class: 'button info controll edit' %>
          <%= button_to 'Delete', admin_item_path(obj), method: :delete, class: 'button alert controll', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items %>
